<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="watchDir" value="C:\Users\Topollo\Documents\Secret" />
  </appSettings>

  <connectionStrings>
    <clear/>
    <!-- clear all other connection strings -->
    <add name="watchee" connectionString="server=TOPOLLORALIQALA; database=TPRepairs; Integrated Security=True"/>
  </connectionStrings>

</configuration>
